<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for worker in workers %}

        <div>{{worker.first_name}} {{worker.last_name}} - {{worker.profession}}</div>
        {% for mid in worker.worker_set.all %}
            <div style="padding-left: 10px">{{mid.first_name}} {{mid.last_name}} - {{mid.profession}}</div>
            {% for l in mid.worker_set.all %}
                <div style="padding-left: 20px">{{l.first_name}} {{l.last_name}} - {{l.profession}}</div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>
</html>